################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/Setup
/Ambilight/bin
/Ambilight/obj
/Ambilight/.vs/Ambilight/v15/.suo
/Ambilight/.vs/ProjectSettings.json
/Ambilight/.vs/VSWorkspaceState.json
/Ambilight/.vs/slnx.sqlite
/Setup1/Release/Setup1.msi
/Setup1/Release/setup.exe
/Setup1/Setup1.vdproj
/UpgradeLog2.htm
*.exe
*.msi
