<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Ambilight.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Ambilight.Properties.Settings>
            <setting name="tickrate" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="saturation" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="keyboardEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mouseEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mousematEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="keyboardWidth" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="keyboardHeight" serializeAs="String">
                <value>-1</value>
            </setting>
        </Ambilight.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>